<div mat-dialog-content>
  <p>
    Enter the desired weight of
    <b>{{ data.title }}</b> :
  </p>

  <div class="example-container">
    <mat-form-field>
      <input type="number" min="0" matInput [(ngModel)]="unit_weight" />
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>

  <span class="spacer"></span>

  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="unit_weight"
    cdkFocusInitial
  >
    Save
  </button>
</div>
