.example-card {
  max-width: 250px;
  float: left;
  margin: 10px;
}

.promotion {
  color: #222222;
  font-weight: bold;
  height: 16px;
}

.price {
  line-height: 33px;
  color: indigo;
}

.imageCard {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
