<mat-card class="example-card" *ngFor="let prod of items">
  <mat-card-header>
    <mat-card-title>{{ prod.title }}</mat-card-title>
    <mat-card-subtitle>{{ prod.description }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <img mat-card-image class="imageCard" src="{{ prod.img }}" alt="" />
    <p class="promotion">{{ showPromotion(prod) }}</p>
  </mat-card-content>

  <mat-card-actions>
    <span class="price">
      {{ showPrice(prod) }}
    </span>

    <button
      mat-flat-button
      color="primary"
      (click)="buy(prod)"
      style="float: right"
    >
      BUY
    </button>
  </mat-card-actions>
</mat-card>
