<div *ngIf="items.length == 0">
  Your cart is empty
</div>

<div *ngIf="items.length > 0" class="example-container">
  <table mat-table [dataSource]="items">
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.product.img }}" class="imgBorder" />
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.promotion?.isFree
            ? "GIFT #" + element.promotion.itemFather.id
            : element.id
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.product.title }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">${{ element.product.price }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">${{ element.total }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-flat-button
          [disabled]="element.promotion?.isFree"
          color="warn"
          (click)="remove(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="checkout">
    <h5 *ngIf="couponSaved">Subtotal: ${{ total }}</h5>
    <h5 *ngIf="couponSaved">Discount: {{ couponSaved.discount }}%</h5>
    <h3>Total: ${{ showTotal() }}</h3>

    <button mat-flat-button color="primary" (click)="checkout()">
      Checkout
    </button>
  </div>

  <div class="checkout" *ngIf="!couponSaved">
    <h3>Do you have a coupon?</h3>

    <div class="example-container-filed">
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="couponNumber" />
      </mat-form-field>
    </div>

    <button
      mat-flat-button
      color="primary"
      [disabled]="!couponNumber"
      (click)="isCouponValid()"
    >
      Validate
    </button>
  </div>

  <div class="checkout" style="width: 200px" *ngIf="!couponSaved">
    <h3>Coupons available</h3>
    <div *ngFor="let c of colCoupons">
      <b>Code:</b> {{ c.code }} <br />
      <b>Discount:</b> {{ c.discount }}% <br />
      <b>Minimum:</b> ${{ c.min }}
      <hr />
    </div>
  </div>
</div>
