table {
  width: 100%;
}

.example-container {
  overflow: auto;
}

.imgBorder {
  border-radius: 50%;
  border: 1px solid #d5d5d5;
  width: 75px;
  height: 75px;
}

.checkout {
  float: right;
  padding: 25px;
  margin: 25px 25px 0 0;
  border-radius: 10%;
  border: 1px solid #d5d5d5;
  text-align: center;
}

.example-container-field {
  display: flex;
  flex-direction: column;
}

.example-container-field > * {
  width: 100%;
}
