<mat-toolbar>
  <mat-toolbar-row>
    <h1 class="title">{{ title }}</h1>

    <div>
      <a mat-button routerLink="/list">
        <mat-icon>home</mat-icon>
        Products
      </a>
      <a mat-button routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        <span matBadge="{{ totalCart }}" matBadgeOverlap="false">
          Cart
        </span>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
